import React, { Component } from 'react';
<%_ if (state === 'redux') { _%>
import { connect } from 'react-redux';
import { createSelector } from 'reselect';
<%_ } _%>

<%_ if (state === 'redux') { _%>
import actions from '../../redux/actions';
<%_ } _%>
import styles from './App.styles';

export default <% if (state === 'redux') { %>
connect(
	createSelector(
		(state) => state.entities,
		(entities) => entities,
	),
	actions
)(<% } %>class App extends Component {
	static propTypes = {
		children: React.PropTypes.node.isRequired,
<%_ if (state === 'redux') { _%>
		foos:     React.PropTypes.object.isRequired,
<%_ } _%>
	}
	render() {
		return (
			<div className={styles.app}>
				{this.props.children}
			</div>
		);
	}
}<% if (state === 'redux') { %>);<% } %>
