import React, { Component } from 'react';

import styles from './App.styles';

export default class App extends Component {
	static propTypes = {
		children: React.PropTypes.node.isRequired,
<%_ if (state === 'redux') { _%>
		foos:     React.PropTypes.object.isRequired,
<%_ } _%>
	}
	render() {
		return (
			<div className={styles.app}>
				{this.props.children}
			</div>
		);
	}
}
