{
  "env": {
    "node": {
      "plugins": [
        ["css-modules-transform", {
          "camelCase": true,
          "generateScopedName": "[name]---[local]---[hash:base64:5]"
        }]
      ]
    }
  }
}
